/* Start destination */
.destination {
    background-image: url(./assets/background-destination-desktop.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    padding-top: calc(136px + 76px);
  }